<div class="TopNavgationbar">
  <i class="fa fa-home myhome" [routerLink]="['/user']"></i> <i class="fa-solid fa-greater-than myicon"></i><span [routerLink]="['/users']" class="myspan">Users</span>
</div>

<div class="Toolbar">
  <div class="search-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input class="search-input" placeholder="Search..." />
  </div>
  <div class="Mybut">
    <button class="btn" [routerLink]="['/adduser']">Add User</button>
  </div>

</div>

<table>
  <tr>
    <th>User Name</th>
    <th>EmailId</th>
    <th>Password</th>
    <th>MobileNumber</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let user of users.entities">
    <td>{{user.userName}}</td>
    <td>{{user.emailID}}</td>
    <td>{{user.password}}</td>
    <td>{{user.mobileNUmber}}</td>
    <td>{{user.roleName}}</td>
    <td><i class="fa-regular fa-pen-to-square myicon" [routerLink]="['/edituser',user.pkUserProfileId]"></i> <i class="fa-solid fa-trash-can myicon"  (click)="DeleteUser(user.pkUserProfileId)" ></i></td>
  </tr>
</table>

